<h1>HOW DO I PUH-LAY SUDOKU?</h1>
<center><img src="/images/sudoku-cat.jpg"></center>
<b><p>
TEH GOAL OV SUDOKU IZ 2 FILL ALL TEH BLANK SQUAREZ IN DA GRID WIF TEH CORRECT NUMBERS.
</p>
<p>
ALL COLUMNS, ROWS AN 3X3 BLOCKZ MUST CONTAIN ALL TEH NUMBERS 1-9, HOWEVR THEY CAN BE IN ANY ORDR, AN THEY DO NOT HAS 2 SUM UP 2 ANYTHIN. COLUMNS, ROWS AN 3X3 BLOCKZ MUST NOT CONTAIN ANY DUPLICATE NUMBERS.
</p></b>
<FORM><INPUT Type="button" VALUE="I PLAY NAO PLZ" onClick="history.go(-1);return true;"></FORM>