<h1>How do I play Sudoku?</h1>
<p>
The goal of Sudoku is to fill all the blank squares in the grid with the correct numbers.
</p>
<p>
All columns, rows and 3x3 blocks must contain all the numbers 1-9, however they can be in any order, and they do not have to sum up to anything. Columns, rows and 3x3 blocks must not contain any duplicate numbers.
</p>
