<h1>Life is too pink for playing Sudoku!</h1>

<div id="flash">
	<%= flash[:notice] %>
</div>

<div id="sudoku">
	<form action="/" method="post">
		<%= partial :sudoku_grid %>
		<button>Check solution</button>
	</form>
	
	<form action="/newsudoku" method="post">
		<button>New easy puzzle</button>
	</form>
</div>
