

<% if flash[:notice] %>
	<div id="flash">
		<%= flash[:notice] %>
	</div>
<% end %>


<div class="new-sudoku-kitten">
<h1>I herd you lyk Sudokuz</h1>
	<form action="/newsudoku" method="get">
		<button name="level" value="30">I CAN HAZ EAZY?</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name="level" value="50">I CAN HAZ NOT EAZY?</button>
	</form>
</div>


<div class="kitten-give-sudoku">

<a id="sudoku">
<div id="sudoku">

	<form action="/" method="post">
		<%= partial :sudoku_grid %>
		<button type="reset" value="Reset">NOOO!</button>   
		<button>CHECKZ PLZ!</button>   
</form>

	<form action="/solution" method="get">
		<button>DO NOT LYK!</button>   
	</form>

	<br>

</div>
</a>
</div>

<div class="help">
	<img src="/images/confused-kitten.png"><br>
	<form action="/help" method="get">
		<button>HOW DO I PLAY?</button>
	</form>
</div>

