<h1>Life is too pink for playing Sudoku!</h1>

<div id="flash">
	<%= flash[:notice] %>
</div>

<div class="bottom-right">
	<form action="/help" method="get">
		<button>How do I play?</button>
	</form>
</div>


<br>
<form action="/newsudoku" method="post">
	<button>New puzzle please!</button>
</form>





<div id="sudoku">

	<form action="/" method="post">
		<%= partial :sudoku_grid %>
		<button type="reset" value="Reset">Ugh! Reset!</button>   
		<button>Check my answers!</button>   
	</form>

	<form action="/solution" method="get">
		<button>I give up!</button>   
	</form>

	<br>



</div>
