body {
	background-color: #FFFDD0;
	text-align: center;
	font-family: 'The Girl Next Door';
}

 h1 {  
 	z-index: 1;
  position: relative;  
  font-size: 50px;  
  margin: 0;  
  text-shadow: 2px 3px 3px #7F4857;     
  font-family: 'Gorditas', cursive;
  -webkit-text-stroke: 2px #7F4857;  
  color: #FFDDE7;    
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottombottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));  
  -webkit-transition: all .4s;  
  -moz-transition: all .4s;  
  transition: all .4s;  
    }  

.help {
 	position:absolute;
 	bottom: 0px;
 	right: 0px;
 }


.new-sudoku-kitten {
 	background: url('/images/new-sudoku-kitten.jpg');
  width:800px;
  height:600px;
  margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;

 }

.new-sudoku-kitten form {
position: relative;
top: 200px;
}

.kitten-give-sudoku {
 	background: url('/images/kitten-give-sudoku.jpg');
  width:800px;
  height:1050px;
  margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;

 }


#sudoku {
	position: relative;
	top: 210px;
	left: 0;
	right: 0;
	font-size: 0;
	text-align: center;
}

#flash {
	margin:.5em;
	color: #7F6E73;
	font-size: 25;
	font-weight: bolder;

}

div.box {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #CC748C;
}

div.cell {
	display: inline-block;
}


.cell input {
	border-style: solid;
	border-width: .05em;
	border-color:  #7F6F73;
	width: 60px;
	height: 60px;
	padding-bottom: 0px;
	font-size: 25;
	font-weight: bolder;
	font-family: 'The Girl Next Door', bold;
	color: #7F6E73;
	text-align: center;
}

.incorrect {
	background-color: #9CC1CC;
}

.value-provided {
	background-color: #E5C7D0;
}

form {
	display: inline;
}

img {
	border-radius:2em;
}

button {
		display: inline;
    margin: 10px;
		width: 200px;

		text-align: center;
    text-decoration: none;
    background-color: #FFDDE7;
		font-size: 20px; 
		color: #7F6E73;   
	  font-family: 'Gorditas', cursive;

		border-style: solid;
		border-width: .15em;
		border-color:  #7F6F73;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px #7F4857, 0px 5px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px #7F4857, 0px 5px 5px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px #7F4857, 0px 5px 5px rgba(0,0,0,.7);
	
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;
}

button:active {
    -webkit-box-shadow: 0px 3px 0px #7F4857, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #7F4857, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #7F4857, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 3px;
}
